{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h1 class="h1">備品一覧</h1>
                </div>
            </div>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>備品名</th>
                            <th>数量</th>
                            <th>備考</th>
                            <th>タグ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Data.Equipments }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Stock }}</td>
                            <td>{{ .Comment }}</td>
                            <td>{{ .Tag.Name }}</td>
                            <td>{{ .CreatedAt }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}