{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-title">
                    <h1 class="h1">レクチャー資料編集</h1>
                </div>
            </div>
            <div class="content" style="display: flex; justify-content: center;">
                <form class="form" method="POST" enctype="multipart/form-data" style="width: 100%; max-width: 500px;">
                    {{ if .Info.Errors }}
                    <div class="notify-bar notify-bar-danger mb-20">
                        {{ range .Info.Errors }}
                        <div>{{ . }}</div>
                        {{ end }}
                    </div>
                    {{ end }}
                    
                    <div>
                        <label>タイトル</label>
                        <input type="text" name="title" class="form-text" value="{{ .Data.Title }}">
                    </div>
                    <div>
                        <label>コメント</label>
                        <textarea name="comment" class="form-textarea">{{ .Data.Comment }}</textarea>
                    </div>
                    {{ if eq .Info.PageType "create" }}
                    <div>
                        <label>資料</label>
                        <input type="file" name="file" class="form-file" style="display: block;">
                    </div>
                    {{ end }}
                    <div>
                        <label>公開する</label>
                        <input type="checkbox" name="activation" value="public" checked>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}