{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-title">
                    <h1 class="h1">レクチャー資料</h1>
                    <button class="btn btn-success">file upload</button>
                </div>
            </div>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <th>著者</th>
                            <th>コメント</th>
                            <th>投稿日</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ $isLogin := .Info.IsLogin }}
                        {{ range .Data.Lectures }}
                        <tr>
                            <td>{{ .Title }}</td>
                            <td>{{ .Author.Name }}</td>
                            <td>{{ .Comment }}</td>
                            <td>{{ .CreatedAt }}</td>
                            <td>
                                <!-- TODO:a admin -->
                                <button class="btn btn-primary">download</button>
                                {{ if $isLogin }}
                                <button class="btn btn-success">編集</button>
                                <button class="btn btn-danger">delete</button>
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->

{{ template "footer" }}