<div class="mt-3">
    <center>
        <object type="application/x-shockwave-flash" data="/ExTop4.swf" width="1024" height="400">
            <param name="movie" value="/ExTop4.swf">
            <param name="FlashVars" value="">
            <p>This is supposed to be a flash animation. You'll need the flash plugin and a browser that supports it to view it.</p>
        </object>
    </center>
</div>

<div class="container mt-2">
    <main>
        <div>
            <h4>ラシキア研究室</h4>
            <hr>
            <p>ラシキア研究室ではIT全般について勉強していき、最終的には役に立つソフトウェアを開発することを目的としています。</p>
        </div>
        <div>
            <h4>活動場所</h4>
            <hr>
            <p>ゼミの時間等の全体で活動する時は、15号館5Fを利用します。個人の研究は、11号館4Fのゼミ室で行っています。稀に、ゼミ室前のガーデン端末を利用することもあります。</p>
            <%= link_to '※豊田キャンパスマップ', "https://www.chukyo-u.ac.jp/information/facility/g2.html" %><br>

            <p>
            ゼミ室:<span style="margin-right: 5em;"></span>11号館4F ラシキア研究室<br>
            ゼミ活動場所:<span style="margin-right: 2em;"></span>15号館(AI棟：人工知能高等研究所）5F
            </p>
        </div>
        <div>
            <h4>学習内容</h4>
            <hr>
        </div>
        <div>
            <h4>ゼミ時間割（例）</h4>
            <hr>
        </div>
        <div>
            <h4>注意事項</h4>
            <hr>
        </div>
    </main>
</div>

