<div class="jumbotron text-center jumbotron-fluid" style="background-image:url(/images/sample.png); background-size: cover;">
    <div class="container">
        <h1 style="color:#FFFFFF">ラシキア研究室へようこそ</h1>
    </div>
</div>

<div class="container mt-2">
    <main>
        <div class="card">
            <div class="card-body">
            <h4>お知らせ</h4>
            <hr>
            <% if @news.present? %>
              <ul>
                <% @news.each do |news| %>
                  <li><%= "< #{l(news.time, format: :news)} > #{news.title}" %></li>
                <% end %>
              </ul>
            <% else %>
              <p>新しいお知らせは存在しません。</p>
            <% end %>
            </div>
        </div>
        <br>
        <div>
            <h4>ラシキア研究室</h4>
            <hr>
            <p>ラシキア研究室ではIT全般について勉強していき、最終的には役に立つソフトウェアを開発することを目的としています。</p>
        </div>
        <div>
            <h4>活動場所</h4>
            <hr>
            <p>ゼミの時間等の全体で活動する時は、15号館5Fを利用します。個人の研究は、11号館4Fのゼミ室で行っています。稀に、ゼミ室前のガーデン端末を利用することもあります。</p>
            <%= link_to '※豊田キャンパスマップ', "https://www.chukyo-u.ac.jp/information/facility/g2.html" %><br>

            <p>
            ゼミ室:<span style="margin-right: 5em;"></span>11号館4F ラシキア研究室<br>
            ゼミ活動場所:<span style="margin-right: 2em;"></span>15号館(AI棟：人工知能高等研究所）5F
            </p>
        </div>
        <div>
            <h4>学習内容</h4>
            <p>ゼミでは、以下のことを勉強していきます。</p>
            <ul>
                <li>プログラミング言語の学習等(Java, C, C++, Android, iPhone, PHP, ...etc)
                    <ul>
                        <li>全体的にシステム開発の割合が高い（問題定義からシステムの構築へ）</li>
                        <li>本格的な研究も可能（画像処理, ...etc）</li>
                    </ul>
                </li>
                <li>プレゼンテーション法</li>
                <li>就職活動を成功させる為の学習
                    <ul>
                        <li>SPI対策</li>
                    </ul>
                </li>
                <li>Android勉強会、iPhone勉強会、サーバー勉強会</li>
            </ul>
            <hr>
        </div>
        <div>
            <h4>ゼミ時間割（例）</h4>
            <span>ゼミは、毎週木曜日に以下のような予定で進行していきます。</span>
            <dl>
                <dd><dl>
                        <dd>11:10　２年生レクチャー開始(5F)</dd>
                        <dd>　｜ </dd>
                        <dd>12:40　休憩</dd>
                </dl></dd>
            </dl>
            <dl>
                <dd><dl>
                    <dd>13:30　集合、出席確認、連絡事項(5F) </dd>
                    <dd>　｜ </dd>
                    <dd>13:45　３年生研究発表、２年生ITニュース発表、4年生研究発表</dd>
                    <dd>　｜ </dd>
                    <dd>　｜　休憩 </dd>
                    <dd>15:30　２、３年生レクチャー(5F)、４年生発表開始&lt;全員発表&gt;(4F) </dd>
                    <dd>　｜ </dd>
                    <dd>　｜　休憩  </dd>
                    <dd>18:30　自習、発表ダメだし </dd>
                </dl></dd>
            </dl>
            <hr>
        </div>
        <div>
            <h4>注意事項</h4>
            <span>以下のことに注意してください。</span>
            <ul>
                <li>時間厳守！ 
                    <ul>
                        <li>集合時間、発表時間を守る </li>
                        <li>だらだらとした時間を作らない </li>
                    </ul>
                </li>
                <li>発表途中のダメだしは禁止！ 
                    <ul>
                        <li>技術的なことならともかく、個人的なことだと聞いている人に迷惑 </li>
                        <li>個人的なダメだしは18:00以降、先生と議論 </li>
                        <li>質問されてわからないことがあればメモをする </li>
                        <li>先生に聞きたいことも18:00以降、先生と議論 </li>
                    </ul>
                </li>
                <li>ゼミを遅刻or欠席する場合 
                    <ul>
                        <li>ゼミ長に理由とどのくらい遅れるかを<b>必ず</b>連絡</li>
                    </ul>
                </li>
            </ul>
            <hr>
        </div>
    </main>
</div>

