<div class="container">
  <h1 class="text-center my-5">就職先</h1>
  <ul class="list-group">
    <li class="list-group-item">すんごいゲーム会社</li>
    <li class="list-group-item">ヤフー</li>
    <li class="list-group-item">エイチーム</li>
    <li class="list-group-item">リンクバル</li>
    <li class="list-group-item">アイシン</li>
    <li class="list-group-item">デンソーテクノ</li>
    <li class="list-group-item">トヨタマックス</li>
    <li class="list-group-item">NTTデータ東海</li>
    <li class="list-group-item">SCSK</li>
    <li class="list-group-item">日立エンジニアリング</li>
    <li class="list-group-item">中電CTI</li>
    <li class="list-group-item">メイケイ</li>
    <li class="list-group-item">システムリサーチ</li>
    <li class="list-group-item">東海ゴム</li>
    <li class="list-group-item">富士ゼロックス</li>
    <li class="list-group-item">三菱電機メカトロニクス</li>
    <li class="list-group-item">などなど</li>
  </ul>
</div>
