<div class="container">
  <h1 class="text-center my-5">外部リンク</h1>

  <h2 class="text-left my-5">他研究室へのリンク</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://www.suzuki.sist.chukyo-u.ac.jp">鈴木 研究室</a></li>
    <li class="list-group-item"><a href="http://hamakawalab.sist.chukyo-u.ac.jp/">濱川 研究室</a></li>
    <li class="list-group-item"><a href="https://md.sist.chukyo-u.ac.jp/index.html">MDLAB (目加田・道満 研究室)</a></li>
    <li class="list-group-item"><a href="http://kitolab.sist.chukyo-u.ac.jp/">鬼頭 研究室</a></li>
    <li class="list-group-item"><a href="http://www.om.sist.chukyo-u.ac.jp/">オープンメディアラボ (宮崎・山田・中 研究室)</a></li>
  </ul>
  <p>(研究室のページを持つ研究室のみ掲載)</p>

  <h2 class="text-left my-5">面白ソフト・最新技術紹介</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://flutter.io/">Flutter</a><br>
      Dart言語を用いた Android／iOSアプリ開発のフレームワーク
    </li>
    <li class="list-group-item">
      <a href="https://www.docker.com/">Docker</a><br>
      軽量なコンテナ型の仮想環境を提供するオープンソースソフトウェア
    </li>
    <li class="list-group-item">
      <a href="https://electronjs.org/">Electron</a><br>
      クロスプラットホームなデスクトップアプリを開発できるフレームワーク
    </li>
    <li class="list-group-item">
      <a href="https://developers.google.com/ar/">ARCore</a><br>
      Googleが提供するARフレームワーク
    </li>
  </ul>
</div>