<div class="container">
  <h1 class="text-left my-5">学会発表</h1>

  <table class="table table-striped table-bordered">
  <thead class="align-middle">
    <tr>
      <th>年</th>
      <th scope="col">氏名</th>
      <th scope="col">タイトル</th>
      <th scope="col">発表学会</th>
      <th scope="col">受賞</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="align-middle">2010.3</th>
      <td class="align-middle">井奈波 和也</td>
      <td class="align-middle">ギターの疑似演奏システムの開発</td>
      <td class="align-middle">情報処理学会</td>
      <td class="align-middle"></td>
    </tr>  
    <tr>
      <th class="align-middle">2010.3</th>
      <td class="align-middle">船戸 利恭</td>
      <td class="align-middle">監視カメラを用いた人物座標の抽出とマッピング</td>
      <td class="align-middle">動的画像処理実利用化ワークショップ DIA2010</td>
      <td class="align-middle"></td>
    </tr>
    <tr>
      <th class="align-middle">2010.3</th>
      <td class="align-middle">星田 岳人</td>
      <td class="align-middle">4点のレーザー投光による投光面の姿勢・位置推定</td>
      <td class="align-middle">動的画像処理実利用化ワークショップ DIA2010</td>
      <td class="align-middle"></td>
    </tr>
    <tr>
      <th class="align-middle"> 2008</th>
      <td class="align-middle"> 菊池 憲一 </td>
      <td class="align-middle"> 音声認識を用いたGoogleEarthバーチャルツアーシステム </td>
      <td class="align-middle"> マルチメディア・仮想環境基礎研究会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>
      <th> 2008</th class="align-middle">
      <td class="align-middle"> 松浦 久人 </td>
      <td class="align-middle"> Suffix Treeを用いたホストベース異常検出セキュリティシステム </td>
      <td class="align-middle"> 電気関係学会東海支部連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>
      <th> 2007</th class="align-middle">
      <td class="align-middle"> 山村 直也 </td>
      <td class="align-middle"> 打鍵署名によるパスワード認証の強化について </td>
      <td class="align-middle"> FIT2007 第6回情報科学技術フォーラム</td>
      <td class="align-middle"></td>
    </tr>
    <tr>
      <th class="align-middle"> 2007</th>
      <td class="align-middle"> 山村 直也 </td>
      <td class="align-middle"> 打鍵署名によるパスワード認証の強化について </td>
      <td class="align-middle"> 情報処理学会第69回全国大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2006</th>
      <td class="align-middle"> 山村 直也 </td>
      <td class="align-middle"> 打鍵署名によるパスワード認証の強化について </td>
      <td class="align-middle"> 電気関係学会東海支部連合大会</td>
      <td class="align-middle"></td>
    </tr>  
    <tr>
      <th class="align-middle"> 2005</th>
      <td class="align-middle"> 吉岡 大希 </td>
      <td class="align-middle"> 確率推論に基づくホストベース異常検出セキュリティシステム </td>
      <td class="align-middle"> 電気関係学会東海支部連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2005</th>
      <td class="align-middle"> 上月 章裕 </td>
      <td class="align-middle"> PrimTestを用いた知識獲得と予測 </td>
      <td class="align-middle"> 第３２回知能システムシンポジウム</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2004</th>
      <td class="align-middle"> 上月 章裕 </td>
      <td class="align-middle"> PrimTestを用いた知識獲得、またはデータ予測手法 </td>
      <td class="align-middle"> 電子情報通信学会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003</th>
      <td class="align-middle"> 落町 宣文 </td>
      <td class="align-middle"> サッカー戦術解析支援システム </td>
      <td class="align-middle"> 電気学会 産業システム情報化研究会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 上月 章裕 </td>
      <td class="align-middle"> データベース上での知識獲得と予測 </td>
      <td class="align-middle"> 平成１５年度電気情報関連学会中国支部連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003</th>
      <td class="align-middle"> 研川 幸雄 </td>
      <td class="align-middle"> 単純ベイズを用いたホストベース異常検出セキュリティシステム </td>
      <td class="align-middle"> 電子情報通信学会第14回データ工学ワークショップ</td>
      <td class="align-middle"></td>
    </tr>
    <tr>   
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 堀家 暢晃 </td>
      <td class="align-middle"> Windows Webサーバ支援ツールの開発 </td>
      <td class="align-middle"> 平成１５年度電気情報関連学会中国支部連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 研川 幸雄 </td>
      <td class="align-middle">  </td>
      <td class="align-middle"> 情報処理学会第65回全国大会 </td>
      <td class="align-middle"> 学生賞</td>
    </tr>
    <tr>   
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 落町 宣文 </td>
      <td class="align-middle"> </td>
      <td class="align-middle"> 情報処理学会第65回全国大会 </td>
      <td class="align-middle"> 学生賞</td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 研川　幸雄 </td>
      <td class="align-middle"> 単純ベイズを用いたユーザー操作異常検出セキュリティシステム </td>
      <td class="align-middle"> 情報処理学会第65回全国大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 西田 絵美子 </td>
      <td class="align-middle"> 学習機能をもつ検索システムの構築 </td>
      <td class="align-middle"> 情報処理学会第65回全国大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 落町 宣文 </td>
      <td class="align-middle"> サッカー戦術支援システムの開発 </td>
      <td class="align-middle"> 情報処理学会第65回全国大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle"> Prime testを用いた知識獲得手法 </td>
      <td class="align-middle"> 情報処理学会第65回全国大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 西田 絵美子 </td>
      <td class="align-middle"> Naive Bayesを用いた効率的なWeb検索システムの構築 </td>
      <td class="align-middle"> 情報処理学会 自然言語処理研究会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.3</th>
      <td class="align-middle"> 研川 幸雄 </td>
      <td class="align-middle"> 単純ベイズを用いたホストベース異常検出セキュリティシステム </td>
      <td class="align-middle"> 電子情報通信学会第14回データ工学ワークショップ</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2003.2</th>
      <td class="align-middle"> 研川 幸雄 </td>
      <td class="align-middle"> 確率的な推論方法を用いた異常検出セキュリティシステム </td>
      <td class="align-middle"> 情報ネットワーク／インターネットアーキテクチャ研究会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2002.12.6</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle"> データベース上での知識獲得と予測 </td>
      <td class="align-middle"> IEEE広島支部学生シンポジウム</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2002.10.19</th>
      <td class="align-middle"> 西田 絵美子 </td>
      <td class="align-middle"> サッカー動画像処理システムの開発 </td>
      <td class="align-middle"> 電気・情報関連学会中国支部第53回連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2002.10.19</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle"> データベース上での知識獲得と予測 </td>
      <td class="align-middle"> 電気・情報関連学会中国支部第53回連合大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2002.7.18</th>
      <td class="align-middle"> 西田 絵美子 </td>
      <td class="align-middle"> サッカー戦術解析支援システムの開発 </td>
      <td class="align-middle"> 第８回画像センシングシンポジウム</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2001.10.5</th>
      <td class="align-middle"> 吉富 智寛 </td>
      <td class="align-middle"> 特徴量・分類法の組み合わせによる舗装道路上のひび割れ検出 </td>
      <td class="align-middle"> 日本非破壊検査協会 平成13年度秋季大会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2001.8.30</th>
      <td class="align-middle"> 吉富 智寛 </td>
      <td class="align-middle"> 周波数特徴空間による舗装道路画像上のひび割れ自動検出 </td>
      <td class="align-middle"> 第６回 知能メカトロニクスワークショップ</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000.2</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle">  </td>
      <td class="align-middle"> </td>
      <td class="align-middle"> 吉田基金賞</td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000.11.9</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle"> サッカー戦術解析支援システムの開発 </td>
      <td class="align-middle"> ジョイント・シンポジウム2000　スポーツ工学シンポジウム<br />シンポジウム：ヒューマン・ダイナミクス</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000</th>
      <td class="align-middle"> 久本 賢 </td>
      <td class="align-middle"> サッカー戦術解析支援システムの開発 </td>
      <td class="align-middle"> 産業システム情報化研究会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000</th>
      <td class="align-middle"> 増井 隆行 </td>
      <td class="align-middle"> モーメント及びエネルギーの最適化を用いた路面画像からのひび割れ検出 </td>
      <td class="align-middle"> ロボティクス・メカトロニクス講演会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000</th>
      <td class="align-middle"> 渡辺 伸一<br />塩見 一彰 </td>
      <td class="align-middle"> サッカー動画処理システムの開発 </td>
      <td class="align-middle"> 知能メカトロニクス専門委員会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 2000</th>
      <td class="align-middle"> 佐野 英樹 </td>
      <td class="align-middle"> 主成分分析とニューラルネットワークを用いた文字認識 </td>
      <td class="align-middle"> 知能メカトロニクス専門委員会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 1999</th>
      <td class="align-middle"> 常盤 和俊 </td>
      <td class="align-middle"> エネルギー最適化を用いたひび割れ検出 </td>
      <td class="align-middle"> 知能メカトロニクス専門委員会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 1999</th>
      <td class="align-middle"> 津下 洋一<br />平谷 営持 </td>
      <td class="align-middle"> ニューラルネットワークによる手書き数字認識 </td>
      <td class="align-middle"> 知能メカトロニクス専門委員会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 1999</th>
      <td class="align-middle"> 平谷 営持 </td>
      <td class="align-middle"> 顔の部品と輪郭の検出 </td>
      <td class="align-middle"> 第３回動画像処理実利用化研究報告会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 1997</th>
      <td class="align-middle"> 土屋 秀樹<br />平谷 営持 </td>
      <td class="align-middle"> 投票による欠陥検出 </td>
      <td class="align-middle"> 非破壊検査画像処理特別研究会委員会</td>
      <td class="align-middle"></td>
    </tr>
    <tr>  
      <th class="align-middle"> 1997</th>
      <td class="align-middle"> 花木 泰臣 </td>
      <td class="align-middle"> 丸形対象の検出アルゴリズム </td>
      <td class="align-middle"> 知能メカトロニクス専門委員会</td>
      <td class="align-middle"></td>
    </tr>
  </tbody>
</div>
