{{ template "header" }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-title">
                    <h1 class="h1">卒業研究一覧</h1>
                </div>
            </div>

            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <th>著者</th>
                            <th>コメント</th>
                            <th>投稿日</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>title</td>
                            <td>name</td>
                            <td>comment</td>
                            <td>2020/02/02</td>
                            <td><button class="btn btn-primary">download</button></td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>name</td>
                            <td>comment</td>
                            <td>2020/02/02</td>
                            <td><button class="btn btn-primary disable">download</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}