html {
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: inline-block;
  margin-block-start: .0em;
  margin-block-end: 0em;
  font-weight: normal;
}

.h1-block, .h2-block, .h3-block, .h4-block, .h5-block, .h6-block {
  display: block;
  font-weight: normal;
}

.h1-underline, .h2-underline, .h3-underline, .h4-underline, .h5-underline, .h6-underline {
  display: block;
  border-bottom: 1px solid #ddd;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.col-black {
  color: #000;
}

.col-gray {
  color: #777;
}

.al-center {
  text-align: center;
}

.table-basic {
  border: 2px solid #ccc;
  border-spacing: 0px;
  box-sizing: border-box;
  width: 100%;
}

.table-basic thead {
  background-color: #efefef;
}

.table-basic thead th {
  padding: 0.5rem 1rem;
  border-right: 2px solid #ccc;
  text-align: left;
}

.table-basic thead th:last-child {
  border-right: none;
}

.table-basic tbody td {
  padding: 0.5rem 1rem;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.table-basic tbody td:last-child {
  border-right: none;
}

.table-basic tr {
  border-bottom: 2px solid #ccc;
}

.table-basic tr:nth-child(2n) {
  background-color: #efefef;
}

.table-stripe {
  border: 2px solid #ccc;
  border-right: none;
  border-left: none;
  border-spacing: 0px;
  box-sizing: border-box;
  width: 100%;
}

.table-stripe thead {
  background-color: #efefef;
}

.table-stripe thead th {
  padding: 0.5rem 1rem;
  text-align: left;
}

.table-stripe thead th:last-child {
  border-right: none;
}

.table-stripe tbody td {
  padding: 0.5rem 1rem;
  border-top: 2px solid #ccc;
}

.table-stripe tbody td:last-child {
  border-right: none;
}

.table-stripe tr {
  border-bottom: 2px solid #ccc;
}

.table-stripe tr:nth-child(2n) {
  background-color: #efefef;
}

.items-3 {
  width: 33%;
}

.btn {
  padding: .2rem .5rem;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid transparent;
  outline: none;
  display: inline-block;
  margin-right: .8rem;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #138496;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #8b2323;
  border-color: #8b2323;
}

.alert {
  display: block;
  padding: .1rem .5rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert-info {
  background-color: #d1ecf1;
  color: #138496;
  border-color: #17a2b8;
}

.card {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-header {
  border-bottom: 2px solid #ddd;
  padding: .8rem 2rem;
}

.card-content {
  padding: .8rem 2rem;
}

.card-item {
  border-bottom: 1px solid #ccc;
  padding: .8rem 0rem;
}

.card-item:last-child {
  border: none;
}

.list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 .2rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.list:last-child {
  border: none;
  margin-bottom: 0rem;
}

.list a {
  display: block;
  text-decoration: none;
  color: #007bff;
}

.list a:hover {
  background-color: #efefef;
  color: #0069d9;
}

.list li {
  border-bottom: 2px solid #ccc;
}

.list li:last-child {
  border-bottom: none;
}

.list-title {
  margin-left: .8rem;
  margin-bottom: .5rem;
}

.list ul {
  padding-inline-start: 0px;
  list-style: none;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.list-item {
  padding: 0.5rem 1rem;
}

.list-item li {
  padding: .2rem 0rem;
}

.list-stripe {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 .2rem;
}

.list-stripe:last-child {
  border-bottom: none;
}

.list-stripe-title {
  margin-left: .8rem;
  margin-bottom: .5rem;
}

.list-stripe-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.error-list {
  color: #8b2323;
  background-color: #ffb2b2;
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: .2rem 1rem;
}

.error-list ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style: none;
  padding-inline-start: 0px;
}

.flex-block {
  display: flex;
  justify-content: space-between;
}

.form {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-item {
  margin-bottom: 1.8rem;
}

.label-block {
  display: block;
}

.input-label {
  font-size: 1.3em;
  margin-bottom: .5rem;
  font-weight: normal;
  display: block;
}

.input-text {
  font-size: 1em;
  padding: .3rem .5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
}

.input-textarea {
  font-size: 1em;
  padding: .3rem .5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 5rem;
  resize: vertical;
}

.input-select {
  font-size: 1em;
  padding: .3rem .5rem;
  display: inline-block;
  height: 2rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}

.header nav {
  display: flex;
  background-color: #343a40;
  width: 100%;
  padding: .8em 2em;
  box-sizing: border-box;
  justify-content: space-between;
}

.header nav .logo {
  display: inline-flex;
  color: #fff;
  font-size: 1.2em;
}

.header nav .logo a {
  color: #fff;
  text-decoration: none;
}

.header nav .menu {
  display: inline-flex;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.header nav .menu li {
  list-style: none;
  display: inline-block;
}

.header nav .menu a {
  color: rgba(255, 255, 255, 0.7);
  padding: .5em .5em;
  text-decoration: none;
}

.header nav .menu a:hover {
  color: white;
}

.jumbotron {
  color: #fff;
  font-size: 1.8em;
  display: flex;
  background-color: #007bff;
  justify-content: center;
  align-content: center;
  padding: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: .2rem 1.8rem;
  border-top: 2px solid #ddd;
  margin: 2rem .5rem 0rem;
  font-size: small;
  color: #777;
}

.footer div {
  display: inline-block;
}

.container {
  box-sizing: border-box;
}

.container .content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
}

.container .content-title {
  text-align: center;
}

.container .content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
