{{ template "admin_header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h2 class="h2">{{ convPageType .Info.PageType }}</h2>
                    <div>
                        <a href="/admin/{{ .Info.PageType }}"><button class="btn btn-secondary">一覧</button></a>
                    </div>
                </div>
            </div>

            <div class="content" style="display: flex; justify-content: center;">
                <form class="form" method="POST" enctype="multipart/form-data" >
                    {{ if .Info.Errors }}
                    <div class="notify-bar notify-bar-danger mb-20">
                        {{ range .Info.Errors }}
                        <div>{{ . }}</div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ range .Data }}
                    <div>
                        <label>{{ .Label }}</label>
                        
                        {{ if eq .Type "text" }}
                        <input name="{{ .Name }}" type="{{ .Type }}" class="form-{{ .Type }}" value="{{ .Value }}">
                        
                        {{ else if eq .Type "textarea" }}
                        <textarea name="{{ .Name }}" class="form-{{ .Type }}" >{{ .Value }}</textarea>
                        
                        {{ else if eq .Type "select" }}
                        <select class="form-{{ .Type }}" name="{{ .Name }}">
                            {{ range .Options }}
                            <option value="{{ .Value }}" {{ if .Select }}selected{{ end }} >{{ .Label }}</option>
                            {{ end }}
                        </select>

                        {{ else if eq .Type "password" }}
                        <input name="{{ .Name }}" type="{{ .Type }}" class="form-text">

                        {{ else if eq .Type "date" }}
                        <div>現在登録されている値: {{ .Value }}</div>
                        <input name="{{ .Name }}" type="{{ .Type }}" value="{{ .Value }}" class="form-text">

                        {{ else if eq .Type "number" }}
                        <input name="{{ .Name }}" type="{{ .Type }}" value="{{ .Value }}" class="form-text">

                        {{ else if eq .Type "file" }}
                        <input name="{{ .Name }}" type="{{ .Type }}" style="display: block;">
                        <span>現在登録されているファイル: {{ .Value }}</span>

                        {{ else if eq .Type "checkbox" }}
                        <input name="{{ .Name }}" type="{{ .Type }}" value="{{ .Value }}" checked>

                        {{ end }}
                        </div>
                    {{ end }}
                    
                    <div>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "admin_footer" }}