{{ template "admin_header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h2 class="h2">活動内容</h2>
                </div>
            </div>
            <div class="content" style="display: flex; justify-content: center;">
                <form class="form">
                    <div>
                        <label>Label</label>
                        <input type="text" class="form-text">
                    </div>
                    <div>
                        <label>Label</label>
                        <input type="text" class="form-text">
                    </div>
                    <div>
                        <label>Label</label>
                        <input type="text" class="form-text">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "admin_footer" }}