{{ template "admin_header" .Info }}

<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h2 class="h2">管理者ページ</h2>
                </div>
            </div>
            <div class="content">
                <h2 class="h2 list-title">リソース管理</h2>
                <ul class="list">
                    <li class="list-item"><a href="#" class="list-link">ニュース</a></li>
                    <li class="list-item"><a href="/admin/activities" class="list-link">活動内容</a></li>
                    <li class="list-item"><a href="/admin/societies" class="list-link">学会発表</a></li>
                    <li class="list-item"><a href="/admin/researches" class="list-link">卒業研究</a></li>
                    <li class="list-item"><a href="/admin/jobs" class="list-link">就職先</a></li>
                    <li class="list-item"><a href="/admin/members" class="list-link">メンバー</a></li>
                    <li class="list-item"><a href="#" class="list-link">外部リンク</a></li>
                    <li class="list-item"><a href="/admin/equipments" class="list-link">研究室備品</a></li>
                    <li class="list-item"><a href="/admin/lectures" class="list-link">レクチャー</a></li>
                    <li class="list-item"><a href="/admin/tags" class="list-link">タグ</a></li>
                </ul>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->

{{ template "admin_footer" }}