{{ template "admin_header" .Info }}

<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h2 class="h2">{{ convPageType .Info.PageType }}</h2>
                    <a href="/admin/{{ .Info.PageType }}/new"><button class="btn btn-success">新規作成</button></a>
                </div>
            </div>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th class="controls"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Data }}
                        <tr>
                            <td>{{ index . "id" }}</td>
                            <td><a href="#">{{ index . "title" }}</a></td>
                            <td class="controls">
                                <a href="#"><button class="btn btn-success">編集</button></a>
                                <a href="#"><button class="btn btn-danger ml-10">削除</button></a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <!-- <ul class="list">
                        <li class="list-item"><a href="#" class="list-link">メンバー</a></li>
                        <li class="list-item"><a href="#" class="list-link">活動内容</a></li>
                        <li class="list-item"><a href="#" class="list-link">卒業研究</a></li>
                        <li class="list-item"><a href="#" class="list-link">学会発表</a></li>
                        <li class="list-item"><a href="#" class="list-link">ニュース</a></li>
                        <li class="list-item"><a href="#" class="list-link">就職先</a></li>
                        <li class="list-item"><a href="#" class="list-link">外部リンク</a></li>
                        <li class="list-item"><a href="#" class="list-link">備品</a></li>
                        <li class="list-item"><a href="#" class="list-link">レクチャー</a></li>
                    </ul> -->
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "admin_footer" }}