{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-title">
                    <h1 class="h1">パスワード変更</h1>
                </div>
            </div>
            <div class="content" style="display: flex; justify-content: center;">
                <form class="form" style="width: 100%; max-width: 500px;">
                    <div>
                        <label>現在のパスワード</label>
                        <input type="password" name="oldPassword" class="form-text">
                    </div>
                    <div>
                        <label>新しいパスワード</label>
                        <input type="password" name="newPassword" class="form-text">
                    </div>
                    <div>
                        <label>新しいパスワード(確認)</label>
                        <input type="password" name="confirmPassword" class="form-text">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}