<header class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'Lashkia 研究室', root_path, id: 'logo', class: 'navbar-brand' %>

    <nav>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: "delete", class: 'nav-link' %></li>
      </ul>
    </nav>
  </div>
</header>