{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h1 class="h1">学会発表</h1>
                </div>
            </div>
            
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>年</th>
                            <th>氏名</th>
                            <th>タイトル</th>
                            <th>発表学会</th>
                            <th>受賞</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Data.Societies }}
                        <tr>
                            <td>{{ .Date }}</td>
                            <td>{{ .Author }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Society }}</td>
                            <td>{{ .Award }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}