{{ template "header" .Info }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h1 class="h1">活動記録</h1>
                </div>
            </div>
            <div class="content">
                <h2 class="h2 list-title">目次</h2>
                <ul class="list">
                    {{ range $key, $val := .Data.Activities }}
                    <li class="list-item"><a href="#{{$key}}" class="list-link">{{ $key }}年のニュース</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ range $key, $val := .Data.Activities }}
            <div class="content underline" id="{{ $key }}">
                <h2 class="h2 list-title">{{ $key }}年のニュース</h2>
                <ul>
                    {{ range $val }}
                    <li>&lt;{{ .Date }}&gt; {{ .Activity }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}