{{ template "header" }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h1 class="h1">活動記録</h1>
                </div>
            </div>
            <div class="content">
                <h2 class="h2 list-title">目次</h2>
                <ul class="list">
                    <li class="list-item"><a href="#" class="list-link">link</a></li>
                    <li class="list-item"><a href="#" class="list-link">link</a></li>
                    <li class="list-item"><a href="#" class="list-link">link</a></li>
                    <li class="list-item"><a href="#" class="list-link">link</a></li>
                    <li class="list-item"><a href="#" class="list-link">link</a></li>
                </ul>
            </div>
            <div class="content underline">
                <h2 class="h2 list-title">今後の予定</h2>
                <ul>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                </ul>

            </div>
            <div class="content underline">
                <h2 class="h2 list-title">今後の予定</h2>
                <ul>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                    <li>news</li>
                </ul>

            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}