{{ template "header" }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-title">
                    <h1 class="h1">外部リンク</h1>
                </div>
            </div>
            <div class="content underline" style="padding-bottom: 20px;">
                <h1 class="list-title h1">他研究室へのリンク</h1>
                <ul class="list">
                    <li class="list-item"><a href="#" class="list-link">鈴木 研究室</a></li>
                    <li class="list-item"><a href="#" class="list-link">濱川 研究室</a></li>
                    <li class="list-item"><a href="#" class="list-link">MDLAB(目加田・道満 研究室)</a></li>
                </ul>
                <span>(研究室のページを持つ研究室のみ掲載)</span>
            </div>
            <!-- END content -->
            <div class="content">
                <h1 class="list-title h1">面白ソフト・最新技術紹介</h1>
                <ul class="list">
                    <li class="list-item"><a href="#" class="list-link">
                            <div>Flutter</div>
                            <span class="list-description">Dart言語を用いた Android／iOSアプリ開発のフレームワーク</span>
                        </a></li>
                    <li class="list-item"><a href="#" class="list-link">
                            <div>Flutter</div>
                            <span class="list-description">Dart言語を用いた Android／iOSアプリ開発のフレームワーク</span>
                        </a></li>
                    <li class="list-item"><a href="#" class="list-link">
                            <div>Flutter</div>
                            <span class="list-description">Dart言語を用いた Android／iOSアプリ開発のフレームワーク</span>
                        </a></li>
                </ul>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->

{{ template "footer" }}