<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Lashkia研究室</title>
</head>

<body>
    <div class="header-wrapper">
        <div class="nav-wrapper">
            <div><a href="/" class="logo">Lashkia研究室</a></div>
            <ul class="nav-list">
            </ul>
        </div>
        <!-- END nav-wrapper -->
    </div>
    <!-- END header-wrapper -->
    <div class="container-wrapper">
        <div class="container">
            <div class="content-wrapper">
                <div class="content" style="display: flex; justify-content: center;">
                    <div class="card" style="width: 500px;">
                        <div class="card-header">
                            <h2 class="h2">Not Found</h2>
                        </div>
                        <div class="card-content">
                            <label>お探しのページは見つかりませんでした</label>
                        </div>

                    </div>
                </div>
                <!-- END content -->
            </div>
            <!-- END content-wrapper -->
        </div>
        <!-- END container -->
    </div>
    <!-- END contaienr-wrapper -->
    <!-- END contaienr-wrapper -->
    <div class="footer-wrapper">
        <div class="footer">
            <label>The Lashkia Lab. by Lashkia George.</label>
            <a href="#">お問い合わせ</a>
        </div>
    </div>
<!-- END footer-wrapper -->
</body>

</html>