{{ define "header" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/homepage.css">
    <title>Lashkia研究室</title>
</head>

<body>
    <div class="header-wrapper">
        <div class="nav-wrapper">
            <div><a href="/" class="logo">Lashkia研究室</a></div>
            <ul class="nav-list">
                <li class="nav-item"><a href="/activities" class="nav-link active">活動記録</a></li>
                <li class="nav-item"><a href="/societies" class="nav-link">学会発表</a></li>
                <li class="nav-item"><a href="/researches" class="nav-link">卒業研究</a></li>
                <li class="nav-item"><a href="/jobs" class="nav-link">就職先</a></li>
                <li class="nav-item"><a href="/members" class="nav-link">メンバー</a></li>
                <li class="nav-item"><a href="/links" class="nav-link">外部リンク</a></li>
                {{ if ne .StudentID "" }}
                    <li class="nav-item"><a href="/equipments" class="nav-link">研究室備品</a></li>
                    <li class="nav-item"><a href="/lectures" class="nav-link">レクチャー</a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">ログアウト</a></li>
                {{ else }}
                    <li class="nav-item"><a href="/login" class="nav-link">ログイン</a></li>
                {{ end }}
                
            </ul>
        </div>
        <!-- END nav-wrapper -->
    </div>
    <!-- END header-wrapper -->
{{ end }}