{{ template "header" }}
<div class="container-wrapper">
    <div class="container">
        <div class="content-wrapper">

            <div class="content">
                <div class="content-title">
                    <h1 class="h1">就職先</h1>
                </div>
            </div>
            <div class="content">
                <ul class="list">
                    <li class="list-item no-link">job1</li>
                    <li class="list-item no-link">job1</li>
                    <li class="list-item no-link">job1</li>
                    <li class="list-item no-link">job1</li>
                </ul>
            </div>
            <!-- END content -->
        </div>
        <!-- END content-wrapper -->
    </div>
    <!-- END container -->
</div>
<!-- END contaienr-wrapper -->
{{ template "footer" }}